<footer class="main-footer">
    <div class="top-footer">
       <div class="container">
          <div class="row">
             <div class="col">
                <div class="footer-content">
                   <h2>Address</h2>
                   <ul class="list-unstyled">
                      <li> Oasis Grace LLC, <br>
                        Way 3508, <br>
                        MBD Area, Ruwi,<br>
                        Opposite to MBD Spar,<br>
                        Muscat, Oman.
                      </li>
                   </ul>
                </div>
             </div>
             <div class="col">
                <div class="footer-content">

                   <h2>Our Services</h2>
                   <ul class="list-unstyled">
                               <li>
                                 <a href="/services">Setting Project Goals</a><br>
                                 <a href="/services">Scheduling and Monitoring the Project</a><br>
                                 <a href="/services">Information and Documentation</a><br>
                                 <a href="/services">Establishing and Monitoring Quality</a> <br>
                                 <a href="/services">Safety Program</a> <br>
                                 <a href="/services">Job Cost and Accounting</a> <br>
                                 <a href="/services">Project Close-out and Warrenty </a><br>
                                
                               </li>
                   </ul>
                </div>
             </div>
             <div class="col">
                <div class="footer-content">
                   <h2>Projects</h2>
                   <ul class="list-unstyled">
                      <li>
                        <a href="/projects">Residential Building</a> <br>
                        <a href="/projects">Industrial Projects</a> <br>
                        <a href="/projects">Health Center</a> <br>
                        <a href="/projects">Commercial Projects</a> <br>
                        <a href="/projects">Hotels & Tourism</a> <br>
                        <a href="/projects"> Hypermarkets</a>
                      </li>
                     
                   </ul>
                </div>
             </div>
             <div class="col">
                <div class="footer-content">
                   <h2>Contact Us</h2>
                   <ul class="list-unstyled">
                     <li>
                        +968 9988 1085 <br>
                        info@oasisgrace.com <br>
                        +968 2481 2226 <br>
                     </li>
                   </ul>
                   {{/*  <img class="footer-image" src="/img/footer.png" alt="Image Description">  */}}
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="bottom-footer">
       <div class="container">
          <div class="copyright">
             <p class="copyright-text">Copyright&copy;2024 Oasis Grace LLC. All Rights Reserved. Designed by TechNeat Info Solutions.</p>
             <div class="copyright-links">
                <ul class="inline-links">
                   <!-- <li><a href="#">Copyright & Terms</a></li> -->
                   <!-- <li><a href="#">Privacy Policy</a></li> -->
                   <!-- <li><a href="#">Sitemap</a></li> -->
                   <li><a href="https://www.facebook.com/oasisgracellc" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                   <li><a href="https://twitter.com/oasisgraceoman" target="_blank"><i class="fab fa-twitter"></i></a></li>
                   <li><a href="https://www.instagram.com/oasisgracellc/" target="_blank"><i class="fab fa-instagram"></i>
                   <li><a href="https://www.linkedin.com/company/oasis-grace/" target="_blank"><i class="fab fa-linkedin"></i></a></li>

                </ul>
             </div>
          </div>
       </div>
    </div>
 </footer>
<style>
   .footer-image {
      width: 200px; /* Adjust the width to make the image bigger */
      height: auto; /* Maintain aspect ratio */
      background-color: rgba(0, 0, 0, 0.5); /* Apply black background color */
      display: block; /* Make the image a block element to fill its container */
      margin-top: 10px; /* Add some top margin for spacing */
  }
  @media screen and (max-width: 999px) {
   .bottom-footer .copyright-text {
      float: left;
      color: #fff;
      font-size: 10px;
      line-height: 1.8rem;
      margin-bottom: 0;
  }
}
  @media screen and (max-width: 991px) {
   .bottom-footer .copyright-text {
      float: left;
      color: #fff;
      font-size: 13px;
      line-height: 1.8rem;
      margin-bottom: 0;
  }
}
  @media screen and (max-width: 768px) {
   .bottom-footer .copyright-text {
      float: left;
      color: #fff;
      font-size: 13px;
      line-height: 1.8rem;
      margin-bottom: 0;
  }
}
  @media screen and (max-width: 320px) {
      
   .bottom-footer .copyright-text {
      text-align: center;
      line-height: 21px;
      font-size: 11px;
      float: none;
  }

}
</style>
