<div id="mySidenav" class="sidenav">
   <a href="javascript:void(0)" class="closebtn" onClick="closeNav()">&times;</a>
   <div class="nav-side-menu">
      <!--Accordion wrapper-->
      <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
         <!-- Accordion card -->
         <div class="">
            <!-- Card header -->
            <div class="rightsidebar" role="tab" id="headingOne1">
               <a class="collapsed"  data-parent="#accordionEx" href="/" 
                  aria-controls="collapseOne1">
               Home
               </a>
            </div>
            <!-- Card body -->
            <div id="collapseOne1" class="collapse" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">

            </div>
         </div>
         <!-- Accordion card -->
         <!-- Accordion card -->
         <!-- Accordion card -->
         <div class="">
            <!-- Card header -->
            <div class="rightsidebar" role="tab" id="headingTwo2">
               <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                  aria-expanded="false" aria-controls="collapseTwo2">
               About <i class="fas fa-angle-down rotate-icon"></i>
               </a>
            </div>
            <!-- Card body -->
            <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">
               <ul class="sub-menu">
                  <li><a  href="/about/">Who We Are</a></li>
                  <li><a  href="/awards/">Awards & Certifications</a></li>
                 
               </ul>
            </div>
         </div>
         <!-- Accordion card -->
         <div class="">
            <!-- Card header -->
            <div class="rightsidebar" role="tab" id="headingThree3">
               <a class="collapsed"  data-parent="#accordionEx" href="/services/"
                  aria-controls="collapseThree3">
               Services
               </a>
            </div> 
            <!-- Card body -->
      
         </div>
         <!-- Accordion card -->
          <!-- Accordion card -->
         <div class="">
            <!-- Card header -->
            <div class="rightsidebar" role="tab" id="headingProjects">
               <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseProjects"
                  aria-expanded="false" aria-controls="collapseProjects">
               Projects <i class="fas fa-angle-down rotate-icon"></i>
               </a>
            </div>
            <!-- Card body -->
            <div id="collapseProjects" class="collapse" role="tabpanel" aria-labelledby="headingProjects" data-parent="#accordionEx">
               <ul class="sub-menu">
                  <li><a  href="/projects/">Completed Projects</a></li>
                  <li><a  href="/project2/">Ongoing Projects</a></li>
                 
               </ul>
            </div>
            <!-- Card body -->
         </div>
         <div class="">  
            <div class="rightsidebar" role="tab" id="headingSeven7">
               <a  data-parent="#accordionEx" href="/client/"
                  aria-expanded="false" aria-controls="collapseSeven7">
               Our Clients
               </a>
            </div>
         </div>
         
        
         <div class="">
            <!-- Card header -->
            <div class="rightsidebar" role="tab" id="headingSeven7">
               <a  data-parent="#accordionEx" href="/careers/"
                  aria-expanded="false" aria-controls="collapseSeven7">
               Careers
               </a>
            </div>       
         </div>
         <!-- Accordion card -->

         <!-- Accordion card -->
         <div class="">  
            <div class="rightsidebar" role="tab" id="headingSeven7">
               <a  data-parent="#accordionEx" href="/contact/"
                  aria-expanded="false" aria-controls="collapseSeven7">
               Contact
               </a>
            </div>
         </div>
       
         <!-- Accordion card -->
         <!-- Accordion card -->

         
         <!-- Accordion card -->
            <!-- Accordion card -->

          <!-- Accordion card -->
          {{/*  <div class="">  */}}
            <!-- Card header -->
            {{/*  <div class="rightsidebar" role="tab" id="eiploginNew">
               <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseeiploginNew"
                  aria-expanded="false" aria-controls="eiploginNew">
               IT Services <i class="fas fa-angle-down rotate-icon"></i>
               </a>
            </div>  */}}
            <!-- Card body -->
            {{/*  <div id="collapseeiploginNew" class="collapse" role="tabpanel" aria-labelledby="eiploginNew" data-parent="#accordionEx">
             <ul class="sub-menu">
                 <li><a href="#" target="_blank">Link1</a></li>
                 <li><a href="#" target="_blank">Link2</a></li>
               </ul>
            </div>
         </div>  */}}
         <!-- Accordion card -->

        
         <!-- Accordion card --> 
                <!-- Accordion card -->
                <div class="">
                  <!-- Card header -->
                  <div class="rightsidebar" role="tab" id="itservices10">
                     <a class="nav-link" href="/resource/Oasisgracecorporateprofile.pdf" target="_blank" id="navbarDropdown" role="button" data-hover="dropdown" aria-haspopup="true" aria-expanded="false">
                        Profile</a>
                  </div>
                  <!-- Card body -->
               </div>
               <!-- Accordion card --> 
      </div>
      <!-- Accordion wrapper -->
   </div>
</div>
  <header class="top-header">
   <div class="container">
      <nav class="navbar navbar-expand-lg sticky-top">
         <a class="navbar-brand" href="/">
         <img src="https://oasisoman.s3.ap-south-1.amazonaws.com/images/Og4.png" alt="Oasis Grace" title="Oasis Grace" style="height: 70px; scale: 1.5;">
         </a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item dropdown dropdown-slide dropdown-hover">
                  <a class="nav-link" href="/" role="button" data-hover="dropdown" aria-haspopup="true" aria-expanded="false">
                  Home
                  </a>
               </li>
               <li class="nav-item dropdown dropdown-slide dropdown-hover">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-hover="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  About
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item item_1" href="/about/">Who We Are</a>
                      <a class="dropdown-item item_2" href="/awards/">Awards & Certifications</a>
                  </div>
               </li>
               <li class="nav-item dropdown dropdown-slide dropdown-hover">
                  <a class="nav-link"  href="/services/" id="navbarDropdown" role="button" data-hover="dropdown"  aria-haspopup="true" aria-expanded="false">
                  Services
                  </a>
               </li>
               <li class="nav-item dropdown dropdown-slide dropdown-hover">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-hover="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Projects
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item item_1" href="/projects/">Completed Projects</a>
                      <a class="dropdown-item item_2" href="/project2/">Ongoing Projects</a>
                  </div>
               </li>
              
               <li class="nav-item dropdown dropdown-slide dropdown-hover">
                  <a class="nav-link" href="/client/" id="navbarDropdown" role="button" data-hover="dropdown" aria-haspopup="true" aria-expanded="false">
                  Our Clients
                  </a>
                
               </li>
               <li class="nav-item dropdown dropdown-slide dropdown-hover">
                  <a class="nav-link" href="/careers/" id="navbarDropdown" role="button" data-hover="dropdown"  aria-haspopup="true" aria-expanded="false">
                  Careers
                  </a>
               
               </li>
               <li class="nav-item dropdown dropdown-slide dropdown-hover">
                  <a class="nav-link" href="/contact/" id="navbarDropdown" role="button" data-hover="dropdown" aria-haspopup="true" aria-expanded="false">
                  Contact</a>
               </li>
               <li class="nav-item dropdown dropdown-slide dropdown-hover">
                  <a class="nav-link" href="/resource/Oasisgracecorporateprofile.pdf" target="_blank" id="navbarDropdown" role="button" data-hover="dropdown" aria-haspopup="true" aria-expanded="false">
                  Profile</a>
               </li>
               
            </ul>
         </div>
         <div class="hamburger-manu">  
            <button class="hamburger-toggler" type="button" onClick="openSideNav()">
            <span class="it-icon it-icon-list"></span>
            </button>  
         </div>
      </nav>
   </div>
</header>
<style>
   @media only screen and (max-width:1199px){
      .top-header .navbar-nav .nav-link {
          font-size: 9px !important;
      }
   }
   @media only screen and (max-width:1024px){
       .top-header .navbar-nav .nav-link {
        font-size: 9.7px !important;
      }
   }
   
   .hamburger-toggler.active {
      /* Add underline */
      text-decoration: underline;
      /* Change color highlight */
      color: red; /* Change this to your preferred highlight color */
    }
</style>
<script>
   function openSideNav() {
       document.getElementById("mySidenav").style.width = "250px";
   }
   
   function closeNav() {
       document.getElementById("mySidenav").style.width = "0";
   }
   
function openSideNav() {
   var hamburgerToggler = document.querySelector('.hamburger-toggler');
   hamburgerToggler.classList.toggle('active');
 }
</script>
<script>
  
  
  
</script>
