{{ define "main"}} {{- partial "banner.html" . -}}

<section class="nation_builders" id="homeContent" style="top: 30px;">
    <div class="container">
        <div class="row">
            <!-- Order reversed for smaller devices -->
            <div class="col-md-12 col-lg-6 col-xs-12 order-md-1 order-1 nation_images">
                <img
                    src="https://oasisoman.s3.ap-south-1.amazonaws.com/images/home1.jpg"
                    alt="nation"
                    class="wow fadeInLeft img-fluid chn2"
                />
            </div>
            <div class="col-md-12 col-lg-6 col-xs-12 order-md-2 order-2">
                <div
                    class="heading-with-btn header-with-style-4 mb-4 wow fadeInRight"
                >
                    <h2 class="heading-text">
                        <span class="wow fadeInUp" data-wow-duration="2s"
                            >WHO WE ARE</span
                        >
                        <div class="blueLine">
                            <div class="yellowLine"></div>
                        </div>
                    </h2>
                </div>
                <p class="wow fadeInUp" data-wow-duration="2s">
                    Incorporated in the year 2000 by Dr. Jose Mikle Robin, Oasis
                    Grace LLC, is an Excellent Grade Civil Construction Company
                    located in MBD, Ruwi, Muscat, Sultanate of Oman. Over the
                    last 24 years, we have established ourselves as the “Most
                    Respected and Trusted company” in the field of general
                    contracting in Oman. Growing steadily over time, we have the
                    complete infrastructure in place and many successful
                    projects to our credit in the commercial and institutional
                    construction, we have undertaken large, complex projects
                    ensuring on-time delivery and great quality within the
                    mentioned budget.
                </p>
                <a
                    href="/about"
                    class="readmoreBtn wow fadeInUp float-right"
                    data-wow-duration="2s"
                    >Read More</a
                >
            </div>
        </div>
    </div>
</section>

<section class="inner-page inner-page-3 sketchBg" style="padding-top: 4rem">
    <div class="project-content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col col-lg-12">
                    <div class="contentLeft">
                        <div class="inner-text">
                            <h2
                                class="d-inline-block header-with-style-3 wow fadeInDown"
                                data-wow-duration="2s"
                            >
                                LANDMARKS IN OMAN
                                <div class="blueLine">
                                    <div class="yellowLine"></div>
                                </div>
                            </h2>
                            <div class="front-procedures">
                                <div class="procedures-selector">
                                    <div class="procedure-single">
                                        <img src="https://oasisoman.s3.ap-south-1.amazonaws.com/images/home3.jpg" />
                                        <a href="projects">
                                            <div class="inner">
                                                <p class="inner-desktop-title">
                                                    Oman shooting range
                                                </p>
                                                <div class="iconicprojectsdesc">
                                                    <p class="inner-title">
                                                        Oman shooting range
                                                    </p>
                                                    <!-- <p class="description">Our Heavy Civil Infrastructure business are building India’s first High-Speed Rail Corridor, mandated to construct 237.1 km stretch MAHSR (Mumbai-Ahmedabad High-Speed Rail), C4 package involving the construction of the viaducts, stations, maj...</p> -->
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="procedure-single">
                                        <img src="https://oasisoman.s3.ap-south-1.amazonaws.com/images/home4.jpg" />
                                        <a href="projects">
                                            <div class="inner">
                                                <p class="inner-desktop-title">
                                                    Duqm Port
                                                </p>
                                                <div class="iconicprojectsdesc">
                                                    <p class="inner-title">
                                                        Duqm Port
                                                    </p>
                                                    <!-- <p class="description">Our Heavy Civil Infrastructure Business is building Packages 01 &amp; 03 of the 21’1 km Mumbai Trans Harbour Link that will connect Mumbai to Navi Mumbai and the Nhava Sheva Port. In Package 1, we are constructing a multi-level interchange at Sew...</p> -->
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="procedure-single">
                                        <img
                                            src="https://oasisoman.s3.ap-south-1.amazonaws.com/images/banner-7.jpg"
                                        />
                                        <a href="projects">
                                            <div class="inner">
                                                <p class="inner-desktop-title">
                                                    Hilton Salalah-Refurbishment
                                                </p>
                                                <div class="iconicprojectsdesc">
                                                    <p
                                                        class="inner-title"
                                                        style="
                                                            text-align: start;
                                                        "
                                                    >
                                                        Hilton
                                                        Salalah-Refurbishment
                                                    </p>
                                                    <!-- <p class="description">Our Heavy Civil Infrastructure business is executing Packages 01 &amp; 04 of this project that totally  involves the construction of a 7.75 Km Costal Road from Princess Street Flyover to Baroda Palace including an underground tunnel passing below...</p> -->
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="homePressreleases" style="background-image:url(https://oasisoman.s3.ap-south-1.amazonaws.com/images/blue1.jpg); background-repeat: no-repeat; background-size: cover;">
    <div class="container">
        <div class="heading-with-btn header-with-style-4 mb-4">
            <h2 class="heading-text">
                <span class="wow fadeInUp" data-wow-duration="2s"
                    >Social Media Updates</span
                >
                <div class="blueLine">
                    <div class="yellowLine"></div>
                </div>
            </h2>
            <div class="pressreleaseBtn">
                <a
                    class="readmoreBtn"
                    href="https://www.facebook.com/oasisgracellc"
                    target="_blank"
                    >View More</a
                >
            </div>
        </div>

     
        <div class="row col-container "style="justify-content:center;">
            <div class="col-lg-6 col-md-12 p-0 pl-3">
                <div>
                    <div class="big-news">
                        <img
                            src="https://oasisoman.s3.ap-south-1.amazonaws.com/images/home5.jpg"
                            alt=""
                            class="socialupdates"                       
                        />
                    </div>

                    <div class="big-news-inner" style="">
                        <h5><a target="_blank" href="https://www.facebook.com/photo?fbid=827831126025564&set=a.490193019789378"><span>Latest Posts</span> </a></h5>
                        <h3 style="color: white;">
                           Nesto Hypermarket in Amerat 
                        </h3>
                        <div class="date">February 20,2024</div>
                        <p>
                            <span class="ellip"
                                ><p>info@oasisgrace.com</p></span
                            >
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 p-0">
                <div class="news-listing">
                    <div class="news-block">
                        <div class="news-list">
                            <div class="tag"><a target="_blank" href="https://www.facebook.com/oasisgracellc/posts/pfbid05Kx72LiqRNuWLoux7erhx5oe2RQZCwHxeyA1XjwxSzax4NLwKokBAWyhjC2qux4ql">Latest Posts</a></div>
                            <h3>
                                <span class="ellip ellip-line"
                                    >Nesto Hypermarket in Amerat</span
                                >
                            </h3>
                            <div class="date">February 20,2024</div>
                            <p>
                                <span class="ellip"
                                    ><p>info@oasisgrace.com</p></span
                                >
                            </p>
                        </div>
                        <div class="news-list">
                            <div class="tag"><a target="_blank" href="https://www.facebook.com/oasisgracellc/posts/pfbid0jKUysa1V8iNjyW5JZknBjnCSgVJmqtKe6Nmba8kjdeL3fKqS5GxryqSQf8r55VvJl">Latest Posts</a></div>
                            <h3>
                                <span class="ellip ellip-line"
                                    >Shooting Range for Oman Automobile Association at Airport Heights, Seeb.
                                    </span
                                >
                            </h3>
                            <div class="date">February 3,2024</div>
                            <p>
                                <span class="ellip"
                                    ><p>info@oasisgrace.com</p></span
                                >
                            </p>
                        </div>
                        <div class="news-list">
                            <div class="tag"><a target="_blank" href="https://www.facebook.com/oasisgracellc/posts/pfbid0WPD81EyoEgAG7GPzcNCR6wzDCTyTCMakUBiwupZnqFJww8oKmeTCGrf9ZHqGjLUal">Latest Posts</a></div>
                            <h3>
                                <span class="ellip ellip-line"
                                    >Grade Slab Casting on progress </span
                                >
                            </h3>
                            <div class="date">January 9,2024</div>
                            <p>
                                <span class="ellip"
                                    ><p>info@oasisgrace.com</p></span
                                >
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        {{/*  <div style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: space-between;">
            <div class="SocialUpdateImageContainer">
                <div class="SocialUpdateImage">
                    <img src="/img/fb.jpg" alt="" class="SocialUpdateImages" />
                </div>
                <div class="SocialUpdateBtnCnt">
                    <div class="SocialUpdateBtn" style="">
                        <h5><span>Latest Posts</span></h5>
                        <h3>
                            <a>Construction of Al Rahma Headquarters </a>
                        </h3>
                        <div class="date">September 29,2023</div>
                        <p>
                            <span class="ellip"
                                ><p>info@oasisgrace.com</p></span
                            >
                        </p>
                    </div>
                </div>
            </div>
            <div class="SocialUpdateNewsContainer">
                <div class="news-listing">
                    <div class="news-block">
                        <div class="news-list">
                            <div class="tag"><a>Latest Posts</a></div>
                            <h3>
                                <span class="ellip ellip-line"
                                    >Fixing Precast Foundation</span
                                >
                            </h3>
                            <div class="date">September 29,2023</div>
                            <p>
                                <span class="ellip"
                                    ><p>info@oasisgrace.com</p></span
                                >
                            </p>
                        </div>
                        <div class="news-list">
                            <div class="tag"><a>Latest Posts</a></div>
                            <h3>
                                <span class="ellip ellip-line"
                                    >Bitumen Application for Plinth beam.
                                    <br />@ Arabian Cinemas.</span
                                >
                            </h3>
                            <div class="date">October 20,2023</div>
                            <p>
                                <span class="ellip"
                                    ><p>info@oasisgrace.com</p></span
                                >
                            </p>
                        </div>
                        <div class="news-list">
                            <div class="tag"><a>Latest Posts</a></div>
                            <h3>
                                <span class="ellip ellip-line"
                                    >Nesto Hypermarket in Amerat is on the brink
                                    of completion.</span
                                >
                            </h3>
                            <div class="date">October 18,2023</div>
                            <p>
                                <span class="ellip"
                                    ><p>info@oasisgrace.com</p></span
                                >
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>  */}}
    </div>
</div>

<div class="mapcontainerOuter">
    {{- partial "maps1.html" . -}}

    <!-- <iframe src="map.html" scrolling="no" border="0" style="border:none;"></iframe> -->
</div>
<div style="margin-top: 30px"></div>
<style>
    .col-md-6.col-xs-12.nation_images {
        margin-top: 15px;
    }
    .background_slider h3 {
        font-size: 25px;
    }
   

@media screen and (min-width: 2560px) and (max-width: 3700px) {
      
      .big-news-inner{
          bottom:30px
  }
}
    @media screen and (min-width: 1440px) and (max-width: 2559px) {
      
        .big-news-inner{
            bottom:30px
    }
}
@media screen and (max-width: 1199px) {
    .chn{
        height: 500px ;
    }  
    .chn2{
        height: 400px;
     } 
    
}
@media screen and (max-width: 1024px) {
    .chn{
        height: 500px ;
    }  
    .chn2{
        height: 400px;
     } 
     .front-procedures p.inner-title {
        font-weight: 600;
        color: #134377;
        line-height: normal;
        margin-bottom: 0;
        font-size: 24px;
    }
    
}
@media screen and (max-width: 999px) {
    .news-listing {
        max-width: 100%;
        background: #f4f4f4;
        padding: 26px 28px 3px 29px;
    }
    .big-news-inner{
        bottom:0px
}
.chn{
    height: 500px;
}
.chn2{
   height: 100%;
}

}
    @media screen and (max-width: 991px) {
        .news-listing {
            max-width: 100%;
            margin-top: 600px;
            background: #f4f4f4;
            padding: 26px 28px 3px 29px;
        }
        .big-news-inner{
            bottom:-559px
    }
    .chn{
        width: 100% !important;
        height: 50%;
    }
    .chn2{
        width: 100% !important;
    }
    .socialupdates {
        height: auto;
        width:102%;
    }
 
}
    @media screen and (max-width: 768px) {
        .news-listing {
            max-width: 100%;
            margin-top: 300px;   
            background: #f4f4f4;
            padding: 26px 28px 3px 29px;
        }
        .big-news-inner{
            bottom:-264px
    }
    .socialupdates {
        height: 128%;
        width: 690px;
    }
    .chn{
        width: 100% !important;
    }
    .chn2{
        width: 100% !important;
    }
    .big-news,
        .news-listing {
            margin-bottom: 20px;
        }
}

@media screen and (min-width:426px) and (max-width: 767px) {
    .socialupdates {
        height: 128%;
       width:100%
    }
    .bottom-footer .copyright-links {
        float: none;
    }
    .news-listing {
        max-width: 100%;
        margin-top:250px;
        background: #f4f4f4;
        padding: 26px 28px 3px 29px;
    }
    .big-news-inner {
        bottom: -219px;
    }
}

    @media screen and (max-width: 600px) {
        .background_slider h3 {
            font-size: 10px;
        }
        .background_slider h3 span {
            font-size: 13px !important;
        }
        .background_slider {
            height: 45px;
            top: 20px;
        }
        .custom-font-span {
            font-size: 22px !important;
        }
        
    }
  
    @media screen and (max-width: 425px) {
        .news-listing {
            max-width: 100%;
            margin-top: 140px;
            
            background: #f4f4f4;
            padding: 26px 28px 3px 29px;
        }
        .big-news-inner{
            bottom:-120px
         }
         .socialupdates {
            height: 100%;
            width: 390px;
        }
       
    }
    @media screen and (max-width: 424px) {
        .news-listing {
            max-width: 100%;
            margin-top: 140px;
            
            background: #f4f4f4;
            padding: 26px 28px 3px 29px;
        }
       
    }
    @media screen and  (max-width: 420px) {
        .socialupdates {
            height: 100%;
           width:100%
        }
       
    } 
    @media screen and (max-width: 375px) {
       
        .news-listing {
            max-width: 100%;
            margin-top: 140px;
            
            background: #f4f4f4;
            padding: 26px 28px 3px 29px;
        }
        .big-news-inner{
            bottom:-120px
         }
         .socialupdates {
            height: 100%;
            width: 340px;
        }
        .front-procedures p.inner-title {
            font-weight: 600;
            color: #134377;
            line-height: normal;
            margin-bottom: 0;
            font-size: 17px;
        }
       
    }
  

    @media screen and (max-width: 340px) {
        
        .big-news-inner{
            bottom: -136px;
         }
    }
    @media screen and (max-width: 320px) {
        
        .news-listing {
            max-width: 100%;
            margin-top: 140px;
            background: #f4f4f4;
            padding: 26px 28px 3px 29px;
        }
        .big-news-inner{
            bottom: -136px;
         }
         .socialupdates {
            height: 100%;
            width: 290px;
        }
        .front-procedures p.inner-title {
            font-weight: 600;
            color: #134377;
            line-height: normal;
            margin-bottom: 0;
            font-size: 17px;
        }
      
        
    }
</style>
<section class="nation_builders" id="homeContent">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6 order-md-1 order-2">
                <div class="heading-with-btn header-with-style-4 mb-4 wow fadeInLeft">
                    <h2 class="heading-text">
                        <span class="wow fadeInUp" data-wow-duration="2s">We ’ve Been Building For Over 24 Years</span>
                        <div class="blueLine">
                            <div class="yellowLine"></div>
                        </div>
                    </h2>
                </div>
                <p class="wow fadeInUp" data-wow-duration="2s">
                    Oasis Grace LLC, a construction company is committed to Setting the highest standards for service and performance in the construction industry. We work with “one” common goal; “the success of the project”. Through experienced leadership and attention to detail, we ensure the success of our client’s objectives. Our organization has a fully computerized Estimating Department and thorough State-of-the-art Technology and Information systems, we continuously update our database, vendors, and subcontractors, which allows us to develop precise info on any construction project. A significant milestone for Oasis Grace LLC has been the association with the Al Hashar Group which has opened bigger opportunities, widening and improving the scope of operation, performance, and helping consolidate our position.
                </p>
                <a href="/about" class="readmoreBtn wow fadeInUp float-left" data-wow-duration="2s">Read More</a>
            </div>
            <div class="col-md-12  col-lg-6 order-md-2 order-1">
                <div class="nation_images">
                    <img src="https://oasisoman.s3.ap-south-1.amazonaws.com/images/home6.jpg" alt="nation" class="wow fadeInRight img-fluid chn" />
                </div>
            </div>
        </div>
    </div>
</section>


<div style="margin-top:30px"></div>

<section class="funfacts-one-section" style="background-image:url(https://oasisoman.s3.ap-south-1.amazonaws.com/images/blue1.jpg)">
    <div class="container">
        <div class="heading-with-btn header-with-style-4 mb-4 wow fadeInLeft">
            <h2 class="heading-text">
                <span class="wow fadeInUp " data-wow-duration="2s"
                    >Everlasting Trust, it's What We Build</span
                >
                <div class="blueLine">
                    <div class="yellowLine"></div>
                </div>
            </h2>
        </div>
        <div class="row" style="text-align: center">
            <div class="col-xl-3 col-lg-6 col-md-6">
                <!--Funfacts One Single-->
                <div
                    class="funfacts-one-single wow fadeInUp"
                    data-wow-delay="100ms"
                >
                    <div class="icon">
                        <span class="flaticon-home"></span>
                    </div>
                    <div class="content count-box">
                        <h2>
                            <span
                                class="timer"
                                data-from="1"
                                data-to="24"
                                data-speed="1500"
                                data-refresh-interval="50"
                                >24</span
                            ><span>+</span>
                        </h2>
                        <p>Years of Experience</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <!--Funfacts One Single-->
                <div
                    class="funfacts-one-single wow fadeInUp"
                    data-wow-delay="100ms"
                >
                    <div class="icon">
                        <span class="flaticon-like"></span>
                    </div>
                    <div class="content count-box">
                        <h2>
                            <span
                                class="timer"
                                data-from="1"
                                data-to="500"
                                data-speed="1500"
                                data-refresh-interval="50"
                                >500</span
                            ><span>+</span>
                        </h2>
                        <p>Projects Completed</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <!--Funfacts One Single-->
                <div
                    class="funfacts-one-single wow fadeInUp"
                    data-wow-delay="200ms"
                >
                    <div class="icon">
                        <span class="flaticon-architect"></span>
                    </div>
                    <div class="content count-box">
                        <h2>
                            <span
                                class="timer"
                                data-from="1"
                                data-to="8"
                                data-speed="1500"
                                data-refresh-interval="50"
                                >8</span
                            ><span>+</span>
                        </h2>
                        <p>Awards</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <!--Funfacts One Single-->
                <div
                    class="funfacts-one-single wow fadeInUp"
                    data-wow-delay="300ms"
                >
                    <div class="icon">
                        <span class="flaticon-medal"></span>
                    </div>
                    <div class="content count-box">
                        <h2>
                            <span
                                class="timer"
                                data-from="1"
                                data-to="150"
                                data-speed="1500"
                                data-refresh-interval="50"
                                >150</span
                            ><span>+</span>
                        </h2>
                        <p>Clients</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .chn{
        width: auto;
    }
        .funfacts-one-section {
            position: relative;
            display: block;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            padding: 131px 0 98px;
        }
        .funfacts-one-single {
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            background: #fff;
            padding: 27px;
            /* padding-right: 10px; */
            border-radius: 5px;
        }
        .funfacts-one-single .icon {
        }
        .funfacts-one-single .icon span {
            font-size: 50px;
            color: var(#0e54a5);
        }
        .funfacts-one-single .content {
            margin-left: 15px;
        }
        .funfacts-one-single .content h2 {
            color: #161616;
            font-size: 50px;
            line-height: 60px;
            font-weight: 800;
            margin-bottom: 8px;
        }
        .funfacts-one-single .content p {
            font-size: 14px;
            color: #000000;
            line-height: 26px;
            margin: 0;
            text-align: center;
        }
    </style>
</section>




{{ end }}
